# WhatsApp Business API Credentials
# Get these from https://developers.facebook.com/

WHATSAPP_PHONE_ID=1371502842716413
WHATSAPP_ACCESS_TOKEN=EAArJm6dwCCsBSoNXrNihFgBn02dGOiAsuzmaLLo8HgEFBczSfUj55vjy3jDg3CBmD1trt9zenIgnXz2lZBj3BOn7mbg3EGCy1x6dUwt0hUAkRAZB0klFGjXpZCAcMuDVZCnoz9HmQ8bZAGZCND33seBgX5uPMLyLJ8RawBKCfjgJ0jZCcXZCZCJnxslRIt01SLRXK2L8KDRrRln9227CkoIei5e59K0sPNLgJ3QZDZD
DEV_PROTECTED_NUMBER=50932330510
