# WhatsApp Business API Credentials
# Get these from https://developers.facebook.com/

WHATSAPP_PHONE_ID=122114722593453332
WHATSAPP_ACCESS_TOKEN=EAArJm6dwCCsBSvVtlinUJwxH21zMqu1oZApZCPOZCkdZBKpzPMLK44F8pSZBNWebcPbrdAO0vyiHuThCAwaVNv91CTZAI8ECUWuAvOJd9N0xuAzjQBiJpQswVkP5vmrj2CTnOvZBMeZACtMhHiLqECuDteJr8xdWQtU6Y6OSN0HVxFVnpmYT9r3eZBhsgd96QfnDlVAdNRweOvCtq0oZCsnCpveqPoexS0ODiV
DEV_PROTECTED_NUMBER=55xxxxx
